.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.edit.form.buttons {
  text-align: center;
}

i.icon.check:before {
    padding-left: 30px;
}

.pic {
  height: auto;
  max-width: 85%;
  text-align: center;
}

.title {
  padding-top: 30px;
  margin-top: -30px;
  padding-left: 50px;
  background-position: center;
  background-size: cover;
  height: 100px;
  text-align: left;
  color: #FFF;
  font-family: Palatino;
  background-image: URL('https://www.mementoexclusives.com/images/detailed/9/motogp_memorabilia_category_banner.jpg');
  border-radius: 25px;
}

.carousel .slide {
  background: #FFF !important;
}

.comment {
  direction: ltr;
}

.ui.comments {
  overflow: auto;
  height: 400px;
}

.item {
  background-color: #09f0ea;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.9;
  transition: 0.3s;
}

.item:hover {opacity: 1}

.ui.fluid.vertical.tabular.menu {
  overflow: auto;
  height: 900px;
}

.Race.Title {
  text-align: center;
}

.item.navbar.name {
  text-decoration-color: #87cefa;
}

/* .home.page.info {
  font-family: 'Old Standard TT', serif;
} */

.ui.grid {
  overflow: auto;
  height: 900px;
}


.ui.pointing.secondary.menu {
  background: slategrey;
}

.ui.red.segment {
  padding-left: 80px;
}

.ui.red.raised.segment {
  text-align: center;
  padding-right: 13%;
}
